services:
  db:
    image: postgres:16-alpine 
    container_name: webtechlab-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345 
      - POSTGRES_DB=WebTechLabDB 
    volumes:
      - postgres-data:/var/lib/postgresql/data 

 
  app:
    container_name: webtechlab-app
    build:
      context: ..               
      dockerfile: WebTechLab/Dockerfile
    ports:
    - "8080:8080" 
    environment:
    - ASPNETCORE_ENVIRONMENT=Docker

    - ASPNETCORE_URLS=http://+:8080
    depends_on:
    - db


volumes:
  postgres-data:
